<% include ../partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">Uusi paikka</div>
    <form class="ui form" action="/paikat" method="POST">
        <div class="field">
            <label>Paikan nimi</label>
            <input type="text" name="title" placeholder="paikan nimi">
        </div>
        <div class="field">
            <label>Kuva</label>
            <input type="text" name="image" placeholder="kuva">
        </div>
        <div class="field">
            <label>Hinta</label>
            <input type="radio" name="price" value="ilmainen"> ilmainen
            <input type="radio" name="price" value="maksullinen"> maksullinen 
        </div>
        <div class="field">
            <label>Ikähaitari</label>
            <input type="checkbox" name="age" value="alle kouluikäinen"> Alle kouluikäinen
            <input type="checkbox" name="age" value="kouluikäinen"> Kouluikäinen
            <input type="checkbox" name="age" value="nuoriso"> Nuoriso
            <input type="checkbox" name="age" value="kaikki"> Kaikki
        </div>
        <div class="field">
            <label>Kaupunki</label>
            <input type="text" name="city" placeholder="kaupunki">
        </div>
        <div class="field">
            <label>Osoite</label>
            <input type="text" name="address" placeholder="osoite">
        </div>
        <div class="field">
            <label>Kategoria</label>
            <select name="category" >
                <option>Valitse kategoria</option> 
                <option>Leikkipuisto</option>
                <option>Uimaranta</option>
                <option>Kulttuuri</option>
                <option>Puisto</option>
                <option>Sisäaktiviteetti</option>
                <option>Ulkoaktiviteetti</option>
                <option>Eläimet</option>
                <option>Tapahtuma</option>
                <option>Muu</option>
            </select>
        </div>      
        <div class="field">
            <label>Maa</label>
            <input type="text" name="country" placeholder="maa">
        </div>
        <div class="field">
            <label>Kuvaus</label>
            <textarea name="description" ></textarea> 
        </div>
        <input type="submit" class="ui teal basic button" value="Lähetä uusi paikka" >
    </form>

</div>



<% include ../partials/footer %>