<html>
    <head>
        <title>PerhePop</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link href="https://fonts.googleapis.com/css?family=Pangolin&display=swap" rel="stylesheet">
    </head>
    <body id="all">
        <div class="ui fixed  menu">
            <div class="ui container">
                <div class="header item"><i class="cubes icon"></i>PerhePop - ilmoita parhaat ajanviettopaikkasi</div>
                <a href="/" class="item">Etusivu</a>
                <a href="/paikat/uusi" class="item">Uusi paikka</a>
                <div class="right menu">
                    <% if(!currentUser) {%>
                        <a  class="item" href="/kirjaudu">Kirjaudu</a>
                        <a  class="item" href="/rekisteroidy">Rekisteröidy</a>
                    <% } else {%>
                        <a  class="item" href="#">Kirjatunut käyttäjänä: <%= currentUser.username %></a>
                        <a  class="item" href="/logout">Kirjaudu ulos</a>
                    <% } %>
                </div>
            </div>
        </div>