body{
    background-color: 	 #f9ffe6;
}
h1,h2,h3,h4,h5,h6,p,li,div, button, a{
    font-family: 'Pangolin', cursive;
}

div.ui.fixed.menu{
    background-color:  #ffff00;
    font-family: 'Pangolin', cursive;
}

div.ui.menu.item{
    color: white;
}

i.cubes{
    font-size: 2em;
}
i.child{
    margin-left: 0.8em;
}

.container.main {
    margin-top: 7.0em;
}

#delete{
    display: inline;
}

#showpage_category{
    font-family: 'Pangolin', cursive;
    font-size: 1.7rem;
}