body{
    background-color: 	 #f9ffe6;
}
h1,h2,h3,h4,h5,h6,p,li,div, button, a{
    font-family: 'Pangolin', cursive;
}
.ui.huge.header{
    font-family: 'Pangolin', cursive;
}

div.ui.fixed.menu{
    background-color:  #ffff00;
    font-family: 'Pangolin', cursive;
}

div.ui.menu.item{
    color: white;
}

i.cubes{
    font-size: 2em;
}
/* i.child{
    margin-left: 0.8em;
} */

.container.main {
    margin-top: 8.0em;
}

div.meta{
    color: #00b5ad;
}

div.meta.showpage{
    padding: 15px;
}
div.meta.showpage span{
    padding: 0 5px;
}

div.meta i{
    color: #008079;
}
div.ui.attached p{
    padding: 10px 15px;
}
.ui.feed{
    min-height: 100px;
}

#header-message-container{
    position:absolute; 
    top: 70px;
    width: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

}

#extra-placespage i{
    color: #008079;
}
#extra-placespage {
    color: #00b5ad;
}

#extra-placespage a{
    color: #00b5ad;
}

#extra-placespage a:hover{
    color: rgba(0,0,0,.4);
}

#show-img{
    max-height: 500px;
}

#delete{
    display: inline;
}

#showpage_category{
    font-family: 'Pangolin', cursive;
    font-size: 1.5rem;
    color: rgba(0,0,0,.4);
}
#showpage_category i{
    font-size: 1.4rem;
    margin: 0;
}

#showpage_category:hover{
    color: rgba(0,0,0,.87);
}

.user.icon{
    font-size: 1.05rem;
}

.ui.cards>.card>.image>img{
    height: 218px;
}